<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://bnetcmsus-a.akamaihd.net/cms/blog_thumbnail/q6/Q6I9FYQQLYST1743115791962.png"
      cardTitle="Notas do patch de 1º de abril"
      cardDescription="Se tem uma coisa que sabemos sobre os jogadores de WoW é que vocês querem mais. E, neste patch, vamos ter mais de tudo."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Como participar do evento de 30 anos de Warcraft?"
      photoCover="https://bnetcmsus-a.akamaihd.net/cms/blog_header/gy/GYPHU7WH175X1655253137144.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Ajustes: 18 de março de 2025"
      photoCover="https://bnetcmsus-a.akamaihd.net/cms/blog_header/g3/G3DTD88RGS8E1740619319295.png?"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="World of Warcraft: The War Within já disponível!"
      photoCover="https://bnetcmsus-a.akamaihd.net/cms/blog_header/6r/6RRJ3M5FTQZM1724689839465.png?"
    >
    </app-small-card>
  </div>
</div>
